body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
}

/* Стилі для навігаційного меню */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #151515;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

nav ul li a img {
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

nav ul li a:hover {
    color: #151515;
    transform: scale(1.1);
}

/* Стилі для хедера */
header {
    background: linear-gradient(to bottom, rgb(235, 115, 9), #FFA500);
    padding: 20px 0;
}


/* Стилі для секції фільмів */
main {
    background: #333333;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-heading {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.movie-heading h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

.movie {
    width: 250px;
    padding: 20px;
    margin: 20px 10px;
    background-color: #2d2d2d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.movie img {
    width: 200px;
    height: 280px;
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 10px;
}
.movie h2 {
    font-size: 1em;
    color: #ff7f50;
    margin-bottom: 5px;
}
.movie p {
    font-size: 0.9em;
    color: #777;
    height: 60px;
    overflow: hidden;
}
.movie a {
    display: block;
    width: 150px;
    padding: 8px 15px;
    margin: 10px auto 0;
    background-color: #ff7f50;
    color: #151515;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    border: none;
}
.movie a:hover {
    background-color: #ff6347;
}

/* Стилі для підвалу */
footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to bottom, rgb(235, 115, 9), #FFA500);
    color: #151515;
}

footer {
    background: linear-gradient(to bottom, rgb(235, 115, 9), #FFA500);
    background-color: #333;
    color: #151515;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-section.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links ul li a {
    color: #151515;
    text-decoration: none;
    font-size: 1em;
    transition: font-size 0.3s ease;
}

.footer-section.links ul li a:hover {
    font-size: 1.1em;
}

